* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgba(0, 0, 0, 0.1);
}

img {
    width: 50px;
}

.searchBlock {
    background: rgba(32, 161, 22, 0.5);
    border-radius: 5px;
    margin: 10px auto;
    padding: 5px;
    width: 90%;
    font-size: 20px;
    text-align: center;
}

.searchBlock input {
    padding: 5px;
    font-size: 25px;
    color: #4ca24c;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.4s;
}

select {
    font-size: 26px;
    border-radius: 5px;
    background: #ddfad7;
}

select:hover {
    background: #60e547;
}

.searchItem {
    margin: 2px;
    background: #a3ec8d;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 22px;
}

.discount {
    background: rgba(255, 0, 0, 0.87);
    width: 100px;
    color: white;
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
}

.productsTable {
    margin: 10px auto;
    width: 90%;
    border: 2px solid black;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    background: #ddfad7;
}

.productsTable td {
    padding: 10px 0;
}

.productsTable input {
    width: 100%;
    height: 100%;
    display: inline-block;
    color: #4ca24c;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.4s;
}

.productsTable input:hover {
    background: #a3ec8d;
}

.productsTable input:active {
    background: #4ca24c;
}

.medium {
    border: 2px solid orange;
    background: #f6ef84;
    border-radius: 1px;
}

.low {
    border: 2px solid red;
    background: #f6bdbd;
    border-radius: 1px;
}

.normal {
    border: 2px solid #2effa8;
    background: #c4efef;
    border-radius: 1px;
}
